*{
    font-family: 'lexend', sans-serif;
    font-size: 12pt;
    padding: 0;
    margin: 0;
    color: black;
}
@font-face {
    font-family: 'lexend';
    src: url('/fonts/Lexend-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/*
body{
    background-color: rgb(10, 15, 25);
}
*/

.imgContain{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.imgCover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}





.header{
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
}
.mainheader{
    height: 64px;
    background-color: aqua;
    display: flex;
}
.mhd-mainSide{
    width: 204px;
    box-sizing: border-box;
    padding: 4px;
    background-color: blue;
    display: flex;
    align-items: center;
}
.mhd-mainSide-3barimg{
    height: 56px;
    width: 56px;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mhd-mainSide-logo{
    height: 56px;
    width: 140px;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mhd-buttonsSide{
    display: flex;
}
.mhd-button{
    display: flex;
    flex-direction: column;
    min-width: 108px;
    align-items: center;
    justify-content: center;
    background-color: rgb(67, 26, 105);
}
.mhd-buttonText{
    flex: auto;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    box-sizing: border-box;
}
.mhd-buttonUnderline{
    height: 8px;
    width: 100%;
    background-color: rgb(0, 0, 255);
    box-sizing: border-box;
}
.mhd-rightSide{
    box-sizing: border-box;
    padding: 8px;
    background-color: blue;
    display: flex;
    align-items: center;
    margin-left: auto;
}
.mhd-rightSide-darkMode{
    height: 36px;
    width: 36px;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mhd-rightSide-logo{
    height: 48px;
    width: 120px;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.secondheader{
    height: 36px;
    background-color: aquamarine;
    display: flex;
}
.shd-smallButtons{
    margin-left: 48px;
    display: flex;
}
.shd-button{
    display: flex;
    flex-direction: column;
    min-width: 84px;
    align-items: center;
    justify-content: center;
    background-color: rgb(67, 26, 105);
    box-sizing: border-box;
    padding: 8px;
    font-size: 10pt;
}
.shd-sponsors{
    display: flex;
    box-sizing: border-box;
    margin-left: auto;
    padding: 4px;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.shd-sponsorSlot{
    padding: 2px;
    box-sizing: border-box;
    min-width: 28px;
    max-width: 42px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(67, 26, 105);
}
.shd-time{
    background-color: rgb(67, 26, 105);
    box-sizing: border-box;
    padding: 4px;
    width: 240px;
    display: flex;
    align-items: center;
}
.shd-timePics{
    display: flex;
}
.shd-timePicSlot{
    width: 28px;
    height: 28px;
    box-sizing: border-box;
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}
.shd-timePicLogo{
    width: 80px;
    height: 28px;
    box-sizing: border-box;
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    background-color: aquamarine;
}
.shd-officialTime{
    display: flex;
    align-items: center;
}
.shd-timeZone{
    font-weight: bold;
    font-size: 10pt;
    flex: auto;
    display: flex;
    align-items: center;
    margin-left: 6px;
    margin-right: 12px;
}
.shd-timeZoneTime{
    font-size: 10pt;
    display: flex;
    align-items: center;
    flex: auto;
}
.headerbuffer{
    height: 100px;
}



.raceResults{
    padding: 2em 2vw;
    display: flex;
    flex-direction: column;
    background-color: green;
}
.raceRes-head{
    display: flex;
    margin-bottom: 12px;
}
.raceRes-head-info{
    width: 25%;
    margin-right: 16px;
}
.raceRes-head-infoRound{
    font-size: 10pt;
}
.raceRes-head-infoRace{
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 0.5em;
}
.raceRes-head-infoLocation{
    display: flex;
}
.raceRes-head-infoLocImg{
    width: 36px;
    height: 36px;
    margin-right: 6px;
    border: 4px white;
    border-radius: 36px;
    border-style: solid;
    box-sizing: border-box;
}
.raceRes-head-infoLocTxt-text{
    font-size: 10pt;
    margin-bottom: 2px;
}
.raceRes-head-blurb{
    background-color: bisque;
    padding: 0.5em;
    flex: auto;
    box-sizing: border-box;
}
.raceRes-head-blurb-header{
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 6px;
}
.raceRes-head-blurb-classes{
    display: flex;
    justify-content: flex-start;
}
.raceRes-hBl-class{
    margin: 0 0.5%;
    width: 32.4%;
    box-sizing: border-box;
}
.raceRes-hBl-classcolor{
    height: 8px;
    background-color: blue;
    width: 100%;
}
.raceRes-hBl-classmain{
    padding: 8px;
    background-color: firebrick;
}
.raceRes-hBl-classHead{
    font-size: 14pt;
    font-weight: bold;
}
.raceRes-hBl-resultSlot{
    background-color: blue;
    display: flex;
    padding: 4px;
    box-sizing: border-box;
    margin: 4px 0px;
    align-items: center;
    height: 40px;
}
.raceRes-hBl-resultSlot-pos{
    font-size: 18pt;
    text-align: center;
    margin-right: 4px;
    width: 36px;
}
.raceRes-hBl-resultSlot-posBold{
    font-size: 18pt;
    text-align: center;
    margin-right: 4px;
    width: 36px;
    font-weight: bold;
}
.raceRes-bold{
    font-weight: bold;
}
.raceRes-hBl-resultSlot-num{
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    margin-right: 4px;
    width: 24px;
}
.raceRes-hBl-resultSlot-teamColor{
    width: 6px;
    height: 28px;
    margin-right: 4px;
    background-color: deepskyblue;
}
.raceRes-hBl-resultSlot-teamLogo{
    display: none;
    height: 30px;
    width: 40px;
    margin-right: 8px;
    background-color: deepskyblue;
    align-items: center;
    justify-content: center;
}
.raceRes-hBl-resultSlot-driver{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: auto;
}
.raceRes-hBl-resultSlot-driverFirst{
    font-size: 7pt;
}
.raceRes-hBl-resultSlot-driverLast{
    font-size: 10pt;
    font-weight: bold;
}
.raceRes-hBl-resultSlot-result{
    font-size: 8pt;
    padding: 4px;
    box-sizing: border-box;
}
.raceRes-main{
    display: flex;
    flex-direction: column;
}
.raceRes-main-event{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.raceRes-main-eventHead{
    font-size: 16pt;
    font-weight: bold;
}
.raceRes-main-eventDiv{
    width: 128px;
    height: 6px;
    background-color: aqua;
}
.raceRes-main-eventButtons{
    display: flex;
}
.raceRes-eventButtons-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.raceRes-eventButtons-buttonLine{
    height: 32px;
    width: 5px;
    background-color: aqua;
}
.raceRes-eventButtons-buttonText{
    margin-left: 4px;
    margin-right: 12px;
    font-size: 14pt;
    flex: auto;
}
.raceRes-res{
    box-sizing: border-box;
    padding: 10px;
    border: 4px aqua;
    border-style: solid;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.raceRes-resHead{
    display: flex;
    width: 65%;
}
.raceRes-resHeadText{
    width: 50%;
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
}
.raceRes-table{
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 16px;
}
.raceRes-table-hiddenCol{
    display: none;
}
.raceRes-table th{
    font-size: 12pt;
    text-align: left;
    padding: 4px;
    box-sizing: border-box;
}
.raceRes-table td{
    font-size: 12pt;
    text-align: left;
    padding: 4px;
    height: 44px;
    box-sizing: border-box;
}
.table_forRaceResults td:nth-child(n+9),th:nth-child(n+6){
    text-align: center;
}
.raceRes-tablePos{
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
}
.raceRes-tableSqImgSlot{
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}
.raceRes-tableCarImgSlot{
    width: 126px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}
.raceRes-tableColorLine{
    width: 6px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}
.raceRes-tableNumber{
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
}
.raceRes-notes{
    font-size: 10pt;
    width: 99%;
}





.newsPage{
    padding: 2em 2vw;
}
.newsPg-head{
    width: 100%;
    margin-bottom: 16px;
}
.newsPgHead-header{
    font-size: 24pt;
    font-weight: bold;
}
.newsPgHead-divider{
    height: 8px;
    width: 256px;
    background-color: aqua;
    margin-bottom: 8px;
}
.newsPgHead-buttons{
    display: flex;
}
.newsPgHead-mainButtons{
    display: flex;
    margin-right: 72px;
}
.newsPgHead-main-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    box-sizing: border-box;
    font-size: 12pt;
    padding: 0 16px;
    background-color: hotpink;
    font-weight: bold;
}
.newsPgHead-catButtons{
    display: flex;
}
.newsPgHead-cat-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    min-width: 96px;
    box-sizing: border-box;
    font-size: 12pt;
    padding: 0 8px;
    background-color: hotpink;
}
.newsPg-articles{
    display: flex;
    flex-wrap: wrap;
}
.newsPgArt-article{
    display: flex;
    height: 156px;
    width: 96%;
    margin-right: 0%;
    margin-bottom: 4px;
    background-color: hotpink;
}
.newsPgArt-articleImg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 260px;
    margin-right: 16px;
    background-color: rgb(145, 54, 99);
}
.newsPgArt-articleTxt{
    padding: 8px 0 16px 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
}
.newsPgArt-articleTxt-genre{
    font-size: 10pt;
    margin-bottom: 2pt;
}
.newsPgArt-articleTxt-title{
    font-size: 18pt;
    font-weight: bold;
    overflow-wrap: break-word;
}





.drivers{
    padding: 2em 2vw;
    background-color: rgb(93, 0, 129);
}
.drtm-head{
    margin-bottom: 24px;
}
.drtmHead-header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 12px;
}
.drtmHead-headerBox{
    width: 8pt;
    height: 8pt;
    margin-right: 6px;
    background-color: aqua;
}
.drtmHead-headerTxt{
    font-size: 24pt;
    font-weight: bold;
}
.drtmHead-buttons{
    display: flex;
}
.drtmHead-selButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 28px;
    box-sizing: border-box;
    padding: 0 12px;
    background-color: aqua;
}
.drtmHead-selButtonEnd{
    margin-right: 24px;
}
.driv-sections{
    display: flex;
    flex-wrap: wrap;
}
.driv-card{
    display: flex;
    width: 75%;
    margin-right: 1%;
    background-color: blue;
}
.drivCard-primary{
    display: flex;
    width: 360px;
    background-color: white;
    box-sizing: border-box;
    padding: 8px 8px 0 8px;
}
.drivCard-prmInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 8px;
}
.drivCard-prmInfo-number{
    width: 64px;
    height: 64px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}
.drivCard-prmInfo-country{
    width: 30px;
    height: 30px;
    margin-right: 6px;
    border: 3px black;
    border-radius: 28px;
    border-style: solid;
    box-sizing: border-box;
    margin-bottom: 12px;
}
.drivCard-prmInfo-category{
    font-size: 10pt;
    font-style: italic;
}
.drivCard-prmPortrait{
    display: flex;
    width: 136px;
    align-items: flex-end;
    background-color: aqua;
    box-sizing: border-box;
    padding-top: 16px;
}
.drivCard-prmLogos{
    margin-left: auto;
    width: 120px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 16px;
    box-sizing: border-box;
}
.drivCard-prmLogo-team{
    height: 50px;
    width: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(48, 107, 107);
}
.drivCard-prmLogo-carandmfr{
    margin-top: 12px;
    width: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.drivCard-prmLogo-car{
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(107, 48, 104);
}
.drivCard-prmLogo-manufacturer{
    height: 32px;
    width: 86px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    background-color: rgb(48, 62, 107);
}
.drivCard-secondary{
    padding: 12px;
    display: flex;
    flex: 1;
}
.drivCard-secText{
    flex: 1;
}
.drivCard-secText-driverName{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.drivCard-secText-firstName{
    font-size: 10pt;
    font-weight: bold;
}
.drivCard-secText-lastName{
    font-size: 18pt;
    font-weight: bold;
}
.drivCard-secText-team{
    display: flex;
    align-items: center;
}
.drivCard-secText-teamColor{
    width: 4px;
    height: 11pt;
    background-color: aqua;
    margin-right: 4px;
}
.drivCard-secText-teamName{
    font-size: 11pt;
    font-weight: bold;
}
.drivCard-secText-country{
    font-size: 11pt;
    font-weight: bold;
    margin-left: 8px;
    margin-bottom: 8px;
}
.drivCard-secText-classcat{
    margin-bottom: 12px;
}
.drivCard-secText-class{
    display: flex;
    align-items: center;
}
.drivCard-secText-classColor{
    width: 6px;
    height: 6px;
    background-color: aqua;
    margin-right: 4px;
}
.drivCard-secText-className{
    font-size: 10pt;
}
.drivCard-secText-category{
    margin-left: 10px;
    font-size: 10pt;
}
.drivCard-secText-carName{
    font-size: 12pt;
}
.drivCard-secNumPanel{
    margin-left: auto;
}





.teams{
    padding: 2em 2vw;
    background-color: rgb(0, 183, 255);
}
.team-sections{
    display: flex;
    flex-wrap: wrap;
}
.team-card{
    display: flex;
    width: 75%;
    margin-right: 1.5%;
    background-color: blue;
    height: 368px;
}
.teamCard-info{
    display: flex;
    flex-direction: column;
    width: 286px;
    background-color: aqua;
    box-sizing: border-box;
    padding: 8px;
}
.teamCard-info-logo{
    width: 100%;
    height: 136px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    margin-bottom: 4px;
}
.teamCard-info-teamName{
    font-size: 15pt;
    font-weight: bold;
    overflow-wrap: break-word;
    margin-bottom: 6px;
}
.teamCard-info-country{
    display: flex;
    align-items: center;
    margin-bottom: auto;
}
.teamCard-info-countryFlag{
    width: 28px;
    height: 28px;
    box-sizing: border-box;
    border: 4px white;
    border-style: solid;
    border-radius: 28px;
    margin-right: 6px;
}
.teamCard-info-countryName{
    font-size: 12pt;
    font-weight: bold;
}
.teamCard-info-seriesHead{
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 4px;
}
.teamCard-info-seriesList{
    display: flex;
    flex-direction: column;
}
.teamCard-info-seriesInst{
    display: flex;
    align-items: center;
}
.teamCard-info-series-classBox{
    width: 6px;
    height: 6px;
    background-color: rgb(0, 29, 126);
    margin-right: 4px;
}
.teamCard-info-series-classTxt{
    font-size: 10pt;
}
.teamCard-cars{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 6px 12px;
    flex: 1;
}
.teamCard-carClass{
    margin: 6px 0;
    background-color: rgb(0, 182, 106);
    display: flex;
    flex: 0.6;
}
.teamCard-class-car{
    width: auto;
    padding: 6px 6px 0 6px;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    flex: 1;
}
.teamCard-class-carNames{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    width: 128px;
    margin-bottom: 4px;
    background-color: aqua;
}
.teamCard-carNames-class{
    display: flex;
    align-items: center;
}
.teamCard-carNames-classBox{
    width: 8px;
    height: 8px;
    margin-right: 6px;
    background-color: rgb(0, 29, 126);
}
.teamCard-carNames-classTxt{
    font-size: 15pt;
    font-weight: bold;
}
.teamCard-carNames-car{
    font-size: 8pt;
    overflow-wrap: break-word;
}
.teamCard-carNames-brandLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 29, 126);
}
.teamCard-class-carPic{
    margin-left: auto;
    margin-top: auto;
    height: 80px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}
.teamCard-class-drivers{
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 4px;
    width: 224px;
    background-color: aquamarine;
}
.teamCard-class-driverNumber{
    width: 64px;
    height: 64px;
    margin: 4px;
    background-color: rgb(0, 29, 126);
}





.homenews{
    padding: 2.5em 4vw 5em 4vw;
    display: flex;
}
.homenews-main{
    width: 57%;
    margin-right: 16px;
}
.homenews-mainPic{
    width: 100%;
    height: 368px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}
.homenews-textSlot{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.homenews-textTopic{
    font-size: 10pt;
    margin-bottom: 6px;
}
.homenews-textArticle{
    flex-wrap: wrap;
    font-size: 20pt;
    font-weight: bold;
}
.homenews-side{
    flex: 1;
    background-color: aquamarine;
}
.homenews-sideArt{
    margin-bottom: 10px;
    height: 112px;
    background-color: blueviolet;
    display: flex;
}
.homenews-sideArtPic{
    width: 150px;
    margin-right: 4px;
    height: 100%;
    background-color: rgb(34, 84, 192);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.homenews-sideArtText{
    padding: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 0;
    flex: 1;
}
.homenews-sideArtText-topic{
    margin-bottom: 4px;
    font-size: 10pt;
}
.homenews-sideArtText-title{
    font-size: 12pt;
    font-weight: bold;
    overflow-wrap: break-word;
}



.homeraces{
    padding: 2em 2vw;
    background-color: dodgerblue;
}
.homeraces-nextRacesHead{
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2px;
}
.homeraces-nextRaces{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    padding: 0 5vw;
}
.homeraces-nextCard{
    width: 31%;
    margin: 0 1%;
    padding: 12px;
    box-sizing: border-box;
    height: 260px;
    background-color: firebrick;
    display: flex;
    flex-direction: column;
}
.homeraces-next-round{
    font-size: 10pt;
    margin-bottom: 4px;
}
.homeraces-next-head{
    font-size: 16pt;
    font-weight: bold;
}
.homeraces-next-location{
    display: flex;
    margin: 8px 0;
    align-items: center;
}
.homeraces-next-locFlag{
    width: 30px;
    height: 30px;
    border: 4px white;
    border-radius: 30px;
    border-style: solid;
    margin-right: 4px;
}
.homeraces-next-locTxt{
    font-size: 10pt;
}
.homeraces-next-stat{
    margin-top: 16px;
}
.homeraces-next-statSlot{
    margin-bottom: 6px;
    display: flex;
    align-items: center;
}
.homeraces-next-statSlot-stat{
    width: 50%;
    box-sizing: border-box;
    padding-left: 4px;
    font-size: 12pt;
}
.homeraces-next-statSlot-head{
    width: 50%;
    box-sizing: border-box;
    padding-right: 4px;
    font-size: 12pt;
    font-weight: bold;
}
.homeraces-next-goto{
    height: 32px;
    width: 70%;
    margin: auto auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: dodgerblue;
}
.homeraces-previousRace{
    display: flex;
    margin-bottom: 16px;
}
.homeraces-prevInfo{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: 12px;
}
.homeraces-prev-blurb{
    background-color: bisque;
    flex: auto;
    box-sizing: border-box;
}
.homeraces-previousRaceHead{
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
}





.homestandings{
    padding: 2em 2vw;
}
.homestand-head{
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
    margin-bottom: 20px;
}
.homestand-class{
    display: flex;
    background-color: aquamarine;
    margin-bottom: 12px;
    justify-content: center;
}
.homestand-classTable{
    padding: 12px;
    box-sizing: border-box;
    background-color: mediumslateblue;
    flex: 0.4;
    margin: 0 0.5%;
}
.homestand-classTable-head{
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 8px;
}
.homestand-classTable-first{
    height: 196px;
    background-color: rosybrown;
}
.homestand-classTable-firstPictures{
    display: flex;
}
.homestand-classTable-firstPlace{
    font-size: 28pt;
    font-weight: bold;
    width: 56px;
    background-color: mediumslateblue;
    text-align: center;
}
.homestand-classTable-firstImg{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1;
    height: 88px;
    background-color: midnightblue;
}
.homestand-classTable-firstDriver{
    display: flex;
}
.homestand-classTable-firstDriverLogo{
    width: 72px;
    background-color: midnightblue;
}
.homestand-classTable-firstDriverLogoImg{
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.homestand-classTable-firstDriverLogoTxt{
    font-size: 9pt;
    overflow-wrap: break-word;
}
.homestand-classTable-firstDriverTxt{
    flex: 1;
    padding: 0 4px;
    box-sizing: border-box;
}
.homestand-classTable-firstDriver-info{
    display: flex;
    align-items: center;
}
.homestand-classTable-firstDriver-number{
    font-size: 18pt;
    width: 48px;
    text-align: center;
    font-weight: bold;
    margin-right: 6px;
}
.homestand-classTable-firstDriver-name{
    font-size: 14pt;
    margin-bottom: 4px;
}
.homestand-classTable-firstDriver-country{
    display: flex;
    align-items: center;
}
.homestand-classTable-firstDriver-flag{
    width: 18px;
    height: 18px;
    border: 4px white;
    border-radius: 18px;
    border-style: solid;
    margin-right: 4px;
}
.homestand-classTable-firstDriver-countryTxt{
    font-size: 10pt;
}
.homestand-classTable-firstDriverPts{
    width: 64px;
}
.homestand-classTable-firstDriver-pointsTotal{
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
}
.homestand-classTable-firstDriver-pointsTxt{
    font-size: 10pt;
    text-align: center;
}
.homestand-classTable-podium{
    display: flex;
    align-items: center;
    height: 52px;
    margin-bottom: 2px;
}
.homestand-classTable-podiumPos{
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
    width: 48px;
}
.homestand-classTable-podiumNumber{
    font-size: 16pt;
    width: 40px;
    text-align: center;
    font-weight: bold;
    margin-right: 2px;
}
.homestand-classTable-podiumName{
    flex: 1;
}
.homestand-classTable-podiumName-driver{
    font-size: 14pt;
}
.homestand-classTable-podiumName-team{
    font-size: 9pt;
}
.homestand-classTable-podiumPts{
    display: flex;
}
.homestand-classTable-podiumPts-point{
    font-weight: bold;
    margin-right: 4px;
}
.homestand-classTable-goto{
    box-sizing: border-box;
    display: flex;
    margin-top: 16px;
    align-items: center;
    justify-content: center;
    padding: 16px;
    font-size: 14pt;
    font-weight: bold;
    background-color: midnightblue;
}





.homelinks{
    padding: 2em 2vw;
    background-color: darkolivegreen;
}
.homelinks-row{
    display: flex;
    justify-content: center;
}
.homelinks-linkBoxBig{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16pt;
    width: 240px;
    height: 160px;
    background-color: indigo;
    margin: 0 16px;
}
.homelinks-linkBoxSmall{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12pt;
    width: 166px;
    height: 99px;
    background-color: indigo;
    margin: 0 16px;
}
.homelinks-margin{
    margin-bottom: 24px;
}





.drvhead{
    padding: 4em 3vw 0 3vw;
    display: flex;
}
.drvhead-text{
    width: 45%;
    padding: 1.5em 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8em;
}
.drvhead-textName{
    display: flex;
    flex-direction: column;
    font-size: 12pt;
    margin-bottom: 24px;
}
.drvhead-textNameLast{
    margin-left: 4px;
    font-size: 32pt;
    font-weight: bold;
}
.drvhead-textNumber{
    font-size: 24pt;
    font-weight: bold;
}
.drvhead-textInfo{
    display: flex;
    align-items: center;
}
.drvhead-textInfo-class{
    display: flex;
    align-items: center;
}
.drvhead-textInfo-classBox{
    height: 6px;
    width: 6px;
    margin-right: 4px;
    background-color: rgb(0, 110, 74);
}
.drvhead-textInfo-txt{
    font-size: 10pt;
}
.drvhead-textInfo-div{
    background-color: gold;
    width: 2px;
    margin: 0 8px;
    height: 14pt;
}
.drvhead-pictures{
    margin-top: 28px;
}
.drvhead-picSlot{
    height: 72px;
    background-color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
}
.drvhead-portrait{
    margin-left: 15%;
    margin-right: 5%;
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: gold;
}





.drvbio-txt{
    padding: 1em 3vw 3em 3vw;
    background-color: teal;
}
.drvbio-head{
    font-size: 28pt;
    font-weight: bold;
    margin-bottom: 8px;
}
.drvdiv-lines{
    margin-top: 12px;
    margin-bottom: 8px;
}
.drvdiv-line{
    height: 12px;
    width: 100%;
    margin-bottom: 4px;
    background-color: aqua;
}
.drvbio-infoSlots{
    display: flex;
    margin-bottom: 16px;
}
.drvbio-info-slot{
    min-width: 20%;
    max-width: 28%;
    margin-right: 16px;
    background-color: aqua;
}
.drvbio-info-slotHead{
    font-size: 10pt;
    margin-bottom: 4px;
}
.drvbio-info-slotTxt{
    font-size: 14pt;
    font-weight: bold;
    overflow-wrap: break-word;
}
.drvbio-bio{
    display: flex;
}
.drvbio-bioPic{
    width: 40%;
    height: 332px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
.drvbio-bioTxt{
    flex: 1;
    padding: 0 24px;
    box-sizing: border-box;
}
.drvbio-bioTxt-para{
    margin-bottom: 12pt;
    overflow-wrap: break-word;
    line-height: 20pt;
}





.drivstat{
    padding: 2em 4vw;
}
.drivstat-head{
    font-size: 24pt;
    font-weight: bold;
    margin-bottom: 24px;
}
.drivstat-stats{
    display: flex;
}
.drivstat-current{
    flex: 1;
    margin-right: 16px;
    padding: 12px;
    box-sizing: border-box;
    min-width: 522px;
}
.drivstat-currentHead{
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 20px;
}
.drivstat-currentSubsec{
    display: flex;
    margin-bottom: 4px;
}
.drivstat-marginBot{
    margin-bottom: 16px;
}
.drivstat-marginTop{
    margin-top: 16px;
}
.drivstat-currentSubsecStat{
    flex: 1;
    margin: 0 8px;
    text-align: center;
}
.drivstat-currentSubsecStat-head{
    font-size: 10pt;
    margin-bottom: 2px;
}
.drivstat-currentSubsecStat-txt{
    font-size: 14pt;
    font-weight: bold;
}
.drivstat-career{
    flex: 1;
    margin-left: 16px;
    padding: 12px;
    box-sizing: border-box;
}
.drivstat-careerHead{
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 20px;
}
.drivstat-statSlot{
    display: flex;
    margin: 16px 0;
    align-items: center;
}
.drivstat-statSlot-current{
    display: flex;
    margin: 12px 0;
    align-items: center;
}
.drivstat-statSlot-head{
    flex: 1;
    margin-right: 12px;
    overflow-wrap: break-word;
    font-size: 10pt;
}
.drivstat-statSlot-txt{
    flex: 1;
    overflow-wrap: break-word;
    font-size: 14pt;
    font-weight: bold;
}





.teamhead{
    padding: 4em 3vw 6em 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: burlywood;
}
.teamhead-cars{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
}
.teamhead-carSlot{
    height: 108px;
    flex: 1;
    background-color: khaki;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0 8px;
}
.teamhead-info{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.teamhead-infoName{
    font-size: 28pt;
    font-weight: bold;
}
.teamhead-infoTeamLogo{
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    background-color: khaki;
}
.teamhead-driversRow{
    display: flex;
    margin: 4px 0;
}
.teamhead-driver{
    width: 168px;
    background-color: khaki;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10pt;
}
.teamhead-driverDiv{
    background-color: aqua;
    height: 12pt;
    width: 2px;
    margin: 0 8px;
}
.teamhead-driversRowAm{
    display: flex;
    margin: 12px 0;
}
.teamhead-driverAm{
    width: 168px;
    background-color: khaki;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8pt;
}
.teamhead-driverDivAm{
    background-color: aqua;
    height: 10pt;
    width: 2px;
    margin: 0 8px;
}
.teambio-info-slot{
    flex: 1;
    margin: 0 4px;
    background-color: aqua;
}
.teambio-info-slotHead{
    font-size: 10pt;
    margin-bottom: 4px;
}
.teambio-info-slotTxt{
    font-size: 14pt;
    font-weight: bold;
    overflow-wrap: break-word;
}
.teamstat-classHead{
    font-size: 14pt;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 4px;
}





.drivteamnews{
    padding: 0.5em 0 0 0;
    background-color: gray;
}
.drivteamnewsTxt{
    padding: 3em 2vw 2em 2vw;
}
.drivteamnews-head{
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 16px;
}
.drivteamnews-articles{
    display: flex;
    margin-bottom: 32px;
}
.drivteamnews-articleSlot{
    flex: 1;
    margin: 0 8px;
    background-color: deepskyblue;
    box-sizing: border-box;
}
.drivteamnews-articleImg{
    height: 168px;
    background-color: forestgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}
.drivteamnews-articleTitle{
    overflow-wrap: break-word;
    padding: 12px;
    box-sizing: border-box;
    height: 186px;
    font-size: 14pt;
    font-weight: bold;
}
.drivteamnews-goto{
    padding: 16px;
    width: 190px;
    box-sizing: border-box;
    font-size: 11pt;
    text-align: center;
    background-color: deepskyblue;
    font-weight: bold;
}





.newsart{
    padding: 2em 7vw;
}
.newsart-title{
    width: 65%;
    background-color: deepskyblue;
    margin-bottom: 32px;
}
.newsart-titleTopic{
    font-size: 10pt;
    margin-bottom: 4px;
}
.newsart-titleTxt{
    font-size: 24pt;
    font-weight: bold;
    margin-bottom: 18px;
}
.newsart-caption{
    font-size: 12pt;
    line-height: 20pt;
    font-style: italic;
}
.newsart-coverImg{
    width: 100%;
    height: 618px;
    background-color: deepskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.newsart-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newsart-bodyPara{
    background-color: deepskyblue;
    width: 960px;
    max-width: 98%;
    line-height: 20pt;
}
.newsart-bodyParaPadd{
    padding: 0 18%;
    margin: 10pt 0;
}
.newsart-bodyImg{
    margin: 2.5em 0;
    width: 960px;
    max-width: 98%;
    background-color: greenyellow;
    aspect-ratio: 2/1;
    display: flex;
    align-items: center;
    justify-content: center;
}





.racehead{
    padding: 4em 2vw 10em 5vw;
    display: flex;
    background-color: darkcyan;
}
.racehead-txt{
    flex: 1;
}
.racehead-logo{
    width: 422px;
    height: 128px;
    min-width: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: aquamarine;
}
.racehead-round{
    font-size: 10pt;
}
.racehead-raceName{
    font-size: 14pt;
    font-weight: bold;
}
.racehead-series{
    font-size: 9pt;
    font-style: italic;
    margin-bottom: 24px;
}
.racehead-pageName{
    font-size: 24pt;
    font-weight: bold;
    margin-bottom: 4px;
}
.racehead-buttons{
    display: flex;
}
.racehead-pgButton{
    width: 120px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}





.raceprof{
    padding: 2em 2vw;
}
.raceprof-events{
    display: flex;
    margin-bottom: 24px;
}
.raceprof-schedule{
    box-sizing: border-box;
    padding: 12px;
    flex: 1;
    margin: 0 12px;
}
.raceprof-schedHead{
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 8px;
}
.raceprof-sessionRow{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 80px;
    margin: 8px 0;
    background-color: aquamarine;
}
.raceprof-sessionRow-titles{
    margin-right: auto;
}
.raceprof-sessionRow-name{
    font-size: 16pt;
    font-weight: bold;
}
.raceprof-sessionRow-caption{
    font-size: 9pt;
    font-style: italic;
}
.raceprof-sessionRow-buttons{
    display: flex;
    justify-content: flex-end;
}
.raceprof-sessionRow-gotoButton{
    box-sizing: border-box;
    padding: 12;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 144px;
}
.raceprof-results{
    box-sizing: border-box;
    padding: 12px;
    min-width: 562px;
    width: 52.5%;
    margin: 0 12px;
}
.raceprof-sessionRow-p1{
    flex: 1;
    padding: 4px 8px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(208, 127, 255);
}
.raceprof-sessionRow-p1classBox{
    background-color: aqua;
    height: 6pt;
    width: 6pt;
    margin-right: 4px;
}
.raceprof-sessionRow-p1logo{
    height: 52px;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    margin-right: 4px;
}
.raceprof-sessionRow-p1txt{
    display: flex;
    flex-direction: column;
}
.raceprof-sessionRow-p1txt-driver{
    display: flex;
    width: 100%;
}
.raceprof-sessionRow-p1txt-drvNumber{
    font-size: 15pt;
    font-weight: bold;
    width: 36px;
}
.raceprof-sessionRow-p1txt-abbrev{
    font-size: 15pt;
    font-weight: bold;
}
.raceprof-sessionRow-p1txt-time{
    font-size: 10pt;
}
.raceprof-sessionRow-nores{
    font-size: 14pt;
    font-style: italic;
    text-align: center;
    width: 100%;
}
.raceprof-info{
    display: flex;
    background-color: antiquewhite;
}
.raceprof-infoHeader{
    padding-top: 12px;
    box-sizing: border-box;
    margin-bottom: 16px;
}
.raceprof-infoHeader-round{
    font-size: 10pt;
}
.raceprof-infoHeader-race{
    font-size: 20pt;
    font-weight: bold
}
.raceprof-infoTxt{
    flex: 1;
}
.raceprof-infoTxt-facts{
    margin-bottom: 12px;
    display: flex;
}
.raceprof-infoTxt-stat{
    flex: 1;
}
.raceprof-infoTxt-statHead{
    font-size: 10pt;
    margin-bottom: 4px;
}
.raceprof-infoTxt-statTxt{
    font-size: 16pt;
    font-weight: bold;
}
.raceprof-infoTxt-statCaption{
    font-size: 9pt;
    font-style: italic;
}
.raceprof-infoTxt-statHeadBig{
    font-size: 12pt;
    margin-bottom: 4px;
}
.raceprof-infoTxt-statTxtBig{
    font-size: 24pt;
    font-weight: bold;
}
.raceprof-infoTxt-bio{
    box-sizing: border-box;
    padding: 0 12px;
    margin-top: 32px;
    line-height: 18pt;
    overflow-wrap: break-word;
}
.raceprof-infoPics{
    width: 50%;
    margin-right: 24px;
}
.raceprof-infoPics-country{
    height: 56px;
    display: flex;
    align-items: center;
}
.raceprof-infoPics-countryFlag{
    width: 36px;
    height: 36px;
    box-sizing: border-box;
    border: 4px white;
    border-style: solid;
    border-radius: 36px;
    margin-right: 6px;
}
.raceprof-infoPics-countryTxt{
    font-size: 11pt;
}
.raceprof-infoPics-imgSlot{
    height: 382px;
    max-width: 640px;
    background-color: cadetblue;
    margin-bottom: 24px;
}





.systemDiv{
    padding: 6em 4vw 40em 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.system-head{
    font-size: 32pt;
    font-weight: bold;
}
.system-desc{
    font-size: 18pt;
    font-weight: bold;
}
.system-caption{
    font-size: 11pt;
    width: 40%;
    overflow-wrap: break-word;
    text-align: center;
}





.footer{
    margin-top: 24px;
}
.foot-manufacturers{
    box-sizing: border-box;
    padding: 2.5em 4vw 0.5em 4vw;
    background-color: aqua;
}
.foot-headTitle{
    font-size: 18pt;
    font-weight: bold;
}
.foot-logoRow{
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.foot-suppliers{
    box-sizing: border-box;
    padding: 2.5em 4vw 0.5em 4vw;
    background-color: rgb(0, 60, 255);
}
.foot-partnersRow1{
    box-sizing: border-box;
    padding: 2.5em 4vw 0.5em 4vw;
    background-color: rgb(0, 140, 255);
}
.foot-partnersRow2{
    box-sizing: border-box;
    padding: 2.5em 4vw 0.5em 4vw;
    background-color: rgb(54, 192, 181);
}
.foot-logoMfr{
    margin: 0 6px;
    margin-bottom: 10px;
    width: 56px;
    height: 56px;
    background-color: rgb(77, 33, 148);
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-logoSuppl{
    margin: 0 8px;
    margin-bottom: 12px;
    width: 96px;
    height: 72px;
    background-color: rgb(77, 33, 148);
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-logo{
    margin: 0 8px;
    margin-bottom: 12px;
    width: 88px;
    height: 64px;
    background-color: rgb(77, 33, 148);
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-partnersHead{
    display: flex;
    align-items: center;
}
.foot-partnersHead-goto{
    box-sizing: border-box;
    padding: 8px 16px;
    font-size: 10pt;
    font-weight: bold;
    background-color: rgb(77, 33, 148);
    margin-left: auto;
}
.foot-end{
    padding: 3.5em 4vw 2.5em 4vw;
}
.foot-end-logos{
    display: flex;
    height: 64px;
    width: 378px;
    margin-bottom: 4px;
    background-color: rgb(77, 33, 148);
}
.foot-end-ifar{
    font-size: 10pt;
}
.foot-end-wscc{
    font-size: 21pt;
    font-weight: bold;
}
.foot-end-line{
    margin: 4px 0;
    background-color: aqua;
    height: 10px;
}
.foot-end-pages{
    display: flex;
    margin-bottom: 4px;
    justify-content: flex-start;
}
.foot-end-pageInst{
    flex: 1;
    font-size: 11pt;
    padding: 8px 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-end-fakeCopyright{
    font-size: 11pt;
    margin: 16px 0 4px 0;
}
.foot-end-disclaimer{
    font-size: 8pt;
    margin: 2px 0;
}
.foot-end-logoWSCC{
    flex: 0.4;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.foot-end-logoIFAR{
    margin-left: auto;
    flex: 0.4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}





.mfrhead{
    padding: 4em 4vw 10em 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 0, 0);
}
.mfrhead-mfrTeams{
    display: flex;
    margin: 12px 0;
}
.mfrhead-mfrName{
    font-size: 14pt;
    font-weight: bold;
}
.mfrhead-logo{
    width: 96px;
    height: 96px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mfrhead-cars{
    display: flex;
    margin-bottom: 16px;
}
.mfrhead-carPic{
    height: 96px;
    width: 240px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
}





.pgheader{
    padding: 4em 4vw 10em 4vw;
}
.pgheaderTxt{
    padding: 0 10%;
}
.pgheaderTxt-title{
    font-size: 24pt;
    font-weight: bold;
}
.pgheaderTxt-subtitle{
    font-size: 14pt;
    font-weight: bold;
}
.pgheaderTxt-caption{
    font-weight: 10pt;
}
.pgheaderTxt-buttons{
    display: flex;
}
.pgheaderTxt-buttonInst{
    min-width: 120px;
    background-color: aqua;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}





.manufacturers{
    padding: 2em 2vw;
    background-color: plum;
}
.mfrheader{
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 24px;
}
.mfrlist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mfrcard{
    width: 47%;
    margin: 0 1%;
    margin-bottom: 16px;
}
.mfrcard-logo{
    height: 296px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 40px;
}
.mfrcard-txt{
    box-sizing: border-box;
    padding: 16px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 320px;
    background-color: cornflowerblue;
}
.mfrcard-txtName{
    font-size: 24pt;
    font-weight: bold;
}
.mfrcard-txtTeams{
    display: flex;
    margin-bottom: 32px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.mfrcard-txt-team{
    font-size: 10pt;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    background-color: aqua;
    width: 132px;
}
.mfrcard-txtEntries{
    margin-top: auto;
    display: flex;
    width: 100%;
}
.mfrcard-txtEntries-class{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.mfrcard-txtEntries-classHead{
    font-size: 14pt;
    font-weight: bold;
    background-color: aqua;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mfrcard-txtEntries-classCaption{
    margin-top: auto;
    display: flex;
    width: 100%;
}
.mfrcard-txtEntries-classCat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 10pt;
    font-weight: normal;
}
.mfrcard-txtEntries-classCount{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 4px 0;
}
.mfrcard-txtEntries-classCountCat{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24pt;
    font-weight: bold;
}
.mfrcard-txtEntries-classCar{
    height: 56px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 8px;
    background-color: aqua;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}





.schedule{
    padding: 2em 2vw;
}
.schedule-allRaces{
    display: flex;
    flex-wrap: wrap;
}
.schedule-recent{
    display: flex;
    background-color: aqua;
    padding: 16px 8px;
    box-sizing: border-box;
    margin-bottom: 64px;
}
.schedule-prevnext{
    flex: 0.25;
    background-color: aquamarine;
    padding: 0 6px;
    box-sizing: border-box;
}
.schedule-upcoming{
    flex: 0.5;
    background-color: aquamarine;
    padding: 0 6px;
    box-sizing: border-box;
}
.schedule-upcomingFlex{
    display: flex;
}
.schedule-prevnextHead{
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 12px;
}
.schedule-raceCard{
    height: 280px;
    width: 23.62%;
    margin: 0 8px;
    margin-bottom: 16px;
    background-color: palevioletred;
}
.schedule-raceCardrec{
    flex: 1;
    height: 280px;
    margin: 0 4px;
    background-color: palevioletred;
}
.schedule-raceCard-img{
    height: 168px;
    background-color: rgb(110, 36, 145);
    display: flex;
    align-items: center;
    justify-content: center;
}
.schedule-raceCard-mainBody{
    padding: 12px;
    box-sizing: border-box;
    height: 240px;
}
.schedule-raceCard-txtNames-round{
    font-size: 8pt;
}
.schedule-raceCard-txtNames-raceName{
    display: flex;
    align-items: center;
}
.schedule-raceCard-txtNames-raceNameFlag{
    height: 20pt;
    width: 20pt;
    box-sizing: border-box;
    margin-right: 6px;
    border: 4px white;
    border-radius: 18pt;
    border-style: solid;
}
.schedule-raceCard-txtNames-raceNameTxt{
    font-size: 18pt;
    font-weight: bold;
}
.schedule-raceCard-txtNames-officialName{
    font-size: 10pt;
    font-weight: bold;
}




