<div class="footer">
    <div class="foot-manufacturers">
        <div class="foot-headTitle">
            MANUFACTURERS
        </div>
        <div class="foot-logoRow">
            <div class="foot-logoMfr">acu</div>
            <div class="foot-logoMfr">alp</div>
            <div class="foot-logoMfr">ast</div>
            <div class="foot-logoMfr">aud</div>
            <div class="foot-logoMfr">bmw</div>
            <div class="foot-logoMfr">cad</div>
            <div class="foot-logoMfr">cor</div>
            <div class="foot-logoMfr">fer</div>
            <div class="foot-logoMfr">for</div>
            <div class="foot-logoMfr">lam</div>
            <div class="foot-logoMfr">lex</div>
            <div class="foot-logoMfr">toy</div>
            <div class="foot-logoMfr">mcl</div>
            <div class="foot-logoMfr">mer</div>
            <div class="foot-logoMfr">peu</div>
            <div class="foot-logoMfr">por</div>
        </div>
    </div>
    <div class="foot-suppliers">
        <div class="foot-headTitle">
            SUPPLIERS
        </div>
        <div class="foot-logoRow">
            <div class="foot-logoSuppl">Oreca</div>
            <div class="foot-logoSuppl">Michel</div>
            <div class="foot-logoSuppl">Goodye</div>
            <div class="foot-logoSuppl">Petron</div>
            <div class="foot-logoSuppl">Shell</div>
            <div class="foot-logoSuppl">Mobil1</div>
            <div class="foot-logoSuppl">TotalE</div>
            <div class="foot-logoSuppl">Puma</div>
            <div class="foot-logoSuppl">Adidas</div>
            <div class="foot-logoSuppl">Alpine</div>
            <div class="foot-logoSuppl">Castor</div>
            <div class="foot-logoSuppl">Sparco</div>
            <div class="foot-logoSuppl">OMP</div>
        </div>
    </div>
    <div class="foot-partnersRow1">
        <div class="foot-partnersHead">
            <div class="foot-headTitle">
                PARTNERS
            </div>
            <div class="foot-partnersHead-goto">
                View All Partners
            </div>
        </div>
        <div class="foot-logoRow">
            <div class="foot-logo"></div>
        </div>
    </div>
    <div class="foot-partnersRow2">
        <div class="foot-logoRow">
            <div class="foot-logo"></div>
        </div>
    </div>
    <div class="foot-end">
        <div class="foot-end-logos">
            <div class="foot-end-logoWSCC">
                <img class="imgContain" src="/systemImg/wsccLogo-fullWhite.png">
            </div>
            <div class="foot-end-logoIFAR">
                IFAR
            </div>
        </div>
        <div class="foot-end-ifar">
            INTERNATIONAL FEDERATION OF AUTOMOBILE RACING
        </div>
        <div class="foot-end-wscc">
            WORLD SPORTS CAR CHAMPIONSHIP
        </div>
        <div class="foot-end-line"></div>
        <div class="foot-end-pages">
            <div class="foot-end-pageInst">
                Home
            </div>
            <div class="foot-end-pageInst">
                News
            </div>
            <div class="foot-end-pageInst">
                Schedule
            </div>
            <div class="foot-end-pageInst">
                Results
            </div>
            <div class="foot-end-pageInst">
                Standings
            </div>
            <div class="foot-end-pageInst">
                Teams
            </div>
            <div class="foot-end-pageInst">
                Drivers
            </div>
            <div class="foot-end-pageInst">
                IFAR Site
            </div>
        </div>
        <div class="foot-end-pages">
            <div class="foot-end-pageInst">
                Series Info
            </div>
            <div class="foot-end-pageInst">
                Manufacturers
            </div>
            <div class="foot-end-pageInst">
                Tracks
            </div>
            <div class="foot-end-pageInst">
                Hospitality
            </div>
            <div class="foot-end-pageInst">
                Broadcast
            </div>
        </div>
        <div class="foot-end-fakeCopyright">
            IFAR WSCC, NO COPYRIGHT
        </div>
        <div class="foot-end-disclaimer">
            IFAR Motorsport is a fictional sim racing organization created for a personal Assetto Corsa project. Not affiliated with the FIA, IMSA, ACO or any real-world motorsport body.
            <br>All manufacturer names and logos are property of their respective owners. Used for informational and recreational purposes only. This is an unofficial, non-commercial sim racing project.
            <br>IFAR is a fictional motorsport organization created for a personal sim racing project. No real events, tickets, or commercial activity exist.
        </div>
    </div>
</div>