<div class="header">
    <div class="mainheader">
        <div class="mhd-mainSide">
            <div class="mhd-mainSide-3barimg">
                
            </div>
            <div class="mhd-mainSide-logo">
                <img class="imgContain" src="/systemImg/wsccLogo-fullWhite.png">
            </div>
        </div>
        <div class="mhd-buttonsSide">
            <div class="mhd-button">
                <div class="mhd-buttonText">
                    News
                </div><div class="mhd-buttonUnderline"></div>
            </div>
            <div class="mhd-button">
                <div class="mhd-buttonText">
                    Schedule
                </div><div class="mhd-buttonUnderline"></div>
            </div>
            <div class="mhd-button">
                <div class="mhd-buttonText">
                    Results
                </div><div class="mhd-buttonUnderline"></div>
            </div>
            <div class="mhd-button">
                <div class="mhd-buttonText">
                    Standings
                </div><div class="mhd-buttonUnderline"></div>
            </div>
            <div class="mhd-button">
                <div class="mhd-buttonText">
                    Teams
                </div><div class="mhd-buttonUnderline"></div>
            </div>
            <div class="mhd-button">
                <div class="mhd-buttonText">
                    Drivers
                </div><div class="mhd-buttonUnderline"></div>
            </div>
        </div>
        <div class="mhd-rightSide">
            <div class="mhd-rightSide-darkMode">
                da
            </div>
            <div class="mhd-rightSide-logo">
                logo
            </div>
        </div>
    </div>
    <div class="secondheader">
        <div class="shd-smallButtons">
            <div class="shd-button">
                Series Info
            </div>
            <div class="shd-button">
                Manufacturer
            </div>
            <div class="shd-button">
                Tracks
            </div>
            <div class="shd-button">
                Ticket
            </div>
            <div class="shd-button">
                Hospitality
            </div>
            <div class="shd-button">
                Broadcast
            </div>
        </div>
        <div class="shd-sponsors">
            <div class="shd-sponsorSlot">s</div>
            <div class="shd-sponsorSlot">s</div>
            <div class="shd-sponsorSlot">s</div>
        </div>
        <div class="shd-time">
            <div class="shd-timePics">
                <div class="shd-timePicLogo">t</div>
                <div class="shd-timePicSlot">t</div>
            </div>
            <div class="shd-officialTime">
                <div class="shd-timeZone">
                    Local:
                </div>
                <div class="shd-timeZoneTime">
                    00:00
                </div>
            </div>
        </div>
    </div>
</div>
<div class="headerbuffer"></div>